.orange {
  color: orange;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: rgb(173, 174, 174);
  box-shadow: -6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-bottom: 1rem;
  -webkit-box-shadow: -6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 6px 25px -6px rgba(0, 0, 0, 0.75);
}

.photo {
  width: 200px;
  border-radius: 30%;
}

.tag {
  position: absolute;
  top: 30px;
  right: 70px;
  background-color: aqua;
  border-radius: 5px;
  padding: 1px 4px;
  text-transform: uppercase;
  font-weight: bold;
}
