.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: rgb(173, 174, 174);
  box-shadow: -6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  -webkit-box-shadow: -6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 6px 25px -6px rgba(0, 0, 0, 0.75);
}

.photo {
  width: 200px;
  border-radius: 30%;
}
